<tb-card>
  <div class="headerText">Member Name</div>
  <div class="subheaderText"></div>
  <div class="extraButtons">
    <button mat-mini-fab [disabled]="!form.valid" (click)="save()">
      <mat-icon aria-label="Save" title="Save">save</mat-icon>
    </button>

    <button mat-mini-fab (click)="back()">
      <mat-icon aria-label="Back" title="Back">arrow_back</mat-icon>
    </button>
  </div>
  <div class="content">
    <form novalidate class="login-form" [formGroup]="form">
      <div fxLayout="row wrap" fxFlex fxLayoutGap="10px">
        <mat-form-field>
          <input formControlName="FirstName" matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="LastName" matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="phone" matInput placeholder="Phone">
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="10px">
        <mat-form-field style="width:300px">
          <input formControlName="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field style="width:300px">
          <input formControlName="paypalEmail" matInput placeholder="Paypal Email">
        </mat-form-field>
      </div>
    </form>
  </div>
</tb-card>
<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p>
<tb-card (addClick)="addPlan($event)">
  <div class="headerText">Plans</div>
  <div class="subheaderText">The plans for this person</div>
  <div class="content">content</div>
</tb-card>