<mat-card style="background-color : lightsteelblue;">
  <mat-card-title-group>
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content style="background-color: white;">
    Text content
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-raised-button color="primary">Action1</button>
    <button mat-raised-button>Action2</button>

  </mat-card-actions>
  <mat-card-footer>
    Footer
  </mat-card-footer>
</mat-card>