<div fxLayoutAlign="center center" fxLayout="column">
  <div>
    <img src="../../../../assets/FlexExample.jpg" style="width:100%; height:auto;" /> </div>
  <div>
    <p>The Flex Layout features provide smart, syntactic directives to allow developers to easily and intuitively create responsive
      and adaptive layouts using Flexbox CSS.</p>
    <blockquote>
      <p>The
        <strong>API</strong> outline here is considered static and provides a UX that will adjust element sizes and positions as
        the browser window width changes. The static API can be considered the default
        <em>desktop</em> layout API.
        <br>
        <br> Developers should use the Responsive API to support alternate layout configurations for mobile or tablet devices</p>
    </blockquote>
    <p>The
      <strong>Flex-Layout API</strong> is an intuitive list of HTML directives (aka attributes) that can be used on HTML containers
      and elements. Instead of using traditional CSS stylesheets, developers will define their layouts declaratively directly
      in the HTML.</p>
    <p>An important,
      <em>fundamental</em> concept is understanding which APIs are used on DOM
      <strong>containers</strong> versus APIs used on DOM child elements in those containers.</p>
  </div>
  <div>
    See the
    <a href="https://github.com/angular/flex-layout/wiki">Flex-Layout Wiki</a> for more information
  </div>
</div>