<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoggedIn">
  <div fxFlex="50" fxLayoutAlign="start center" fxLayoutGap="10px">
    <img src="assets/Logo.jpg" style="height:60px; width:auto;" />
    <button mat-raised-button color="primary" routerLink="home">Home</button>
    <button mat-raised-button (click)="logout()">Logout</button>
  </div>
  <div style="text-align:right;" fxFlex="10" fxFlexAlign="end">
    Identity
  </div>
</div>
<br>
<div fxLayout="row">
  <div fxFlex="20"></div>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <div fxFlex="20"></div>

</div>