<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button mat-raised-button routerLink="home">Home</button>
  <button mat-raised-button routerLink="firestore">Firestore</button>
  <button mat-raised-button *ngIf="!isLoggedIn" routerLink="firestoreauth">Login</button>
  <button mat-raised-button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
  <button mat-raised-button routerLink="material">Angular Material</button>
  <button mat-raised-button routerLink="flexlayout">Angular FlexLayout</button>
</div>
<br>
<div fxLayout="row">
  <div fxFlex="20"></div>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <div fxFlex="20"></div>

</div>