@use 'sass:map';
@import '../../../sass/theme.scss';

.green-check {
  margin-left: 20%;
  color: map-get($map: $tonic-app-primary, $key: 500);
}
.red-lock {
  margin-left: 20%;
  color: map-get($map: $tonic-app-warn, $key: 500);
}
.mailto {
  color: map-get($map: $tonic-app-primary, $key: 500);
}
