<!-- <p>access-log works!</p> -->
<tb-card>
  <div class="headerText">Access Log - Past Week</div>
  <div class="content">
    <table
      mat-table
      matSort
      class="bglightgray"
      #table
      [dataSource]="dataSource"
      style="width: 100%"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let item">
          {{ item.member.firstName + ' ' + item.member.lastName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let item">
          {{ item.member.status }}
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let item">
          <a
            href="mailto:{{
              item.member.email
            }}?subject=Melbourne MakerSpace Welcomes You!&body=Some body text here"
            ><mat-icon class="mailto">mail_outline</mat-icon></a
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="accessGranted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Access Granted?
        </th>
        <td mat-cell *matCellDef="let item">
          <mat-icon
            *ngIf="item.accessGranted; else elseBlock"
            class="green-check"
            >check</mat-icon
          ><span class="cdk-visually-hidden">Access Granted</span>
          <ng-template #elseBlock
            ><mat-icon class="red-lock">lock</mat-icon
            ><span class="cdk-visually-hidden">Access Denied</span></ng-template
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
        <td mat-cell *matCellDef="let item">
          {{ item.message }}
        </td>
      </ng-container>
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
        <td mat-cell *matCellDef="let item">
          {{ item.timestamp | date: 'EEE M/dd h:mm a':'EST':'en-US' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        class="trHover"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</tb-card>
