<div style="text-align: center;" fxFlex>
  <p>
    User must be logged in to use these buttons and see data on this page
  </p>
</div>
<button mat-icon-button (click)="addItem()" style="background-color:lightgreen;">
  <mat-icon color="Primary" aria-label="Add">add</mat-icon>
</button>
<mat-table #table [dataSource]="itemsFromSnapshot | async">
  <ng-container matColumnDef="Actions">
    <mat-header-cell *matHeaderCellDef style="text-align: center;"> Actions </mat-header-cell>
    <mat-cell *matCellDef="let item" style="text-align: center;">
      <button mat-icon-button color="primary" (click)="update(item.Key)">
        <mat-icon aria-label="Update">history</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(item.Key)">
        <mat-icon aria-label="Delete">delete_forever</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Key">
    <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.Key}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Item">
    <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.Item}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Updated">
    <mat-header-cell *matHeaderCellDef> Updated </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.updated}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>