<tb-card (addClick)="addMember($event)">
  <div class="headerText">Member List - {{ activeMemberCount }} active</div>
  <div class="subheaderText">
    <mat-form-field style="margin-left: 1em">
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
        #filter
      />
    </mat-form-field>
    <a mat-icon-button (click)="clearFilter(filter)">
      <mat-icon class="mat-18" color="primary">clear</mat-icon>
    </a>
  </div>
  <div class="content">
    <table
      mat-table
      matSort
      class="bglightgray"
      #table
      [dataSource]="dataSource"
      style="width: 100%"
    >
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName">
          First
        </th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button color="primary">
            <mat-icon aria-label="Update">folder_shared</mat-icon></button
          >{{ item.firstName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName">
          Last
        </th>
        <td mat-cell *matCellDef="let item">{{ item.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="status">
          Status
        </th>
        <td mat-cell *matCellDef="let item">
          {{ item.status }}
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="email">
          e-mail
        </th>
        <td mat-cell *matCellDef="let item">
          {{ item.email }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        class="trHover"
        [routerLink]="['/member/' + row.id]"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</tb-card>
