<tb-card (addClick)="addMember($event)">
  <div class="headerText">Members</div>
  <div class="subheaderText">
  </div>
  <div class="content">
    <mat-table class="bglightgray" #table [dataSource]="memberSnapshot | async">
      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef style="text-align: center;"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let item" style="text-align: center;">
          <button mat-icon-button color="primary" (click)="viewMember(item.Key)">
            <mat-icon aria-label="Update">folder_shared</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef> Member </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button mat-icon-button color="primary" (click)="viewMember(item.Key)">
            <mat-icon aria-label="Update">folder_shared</mat-icon>
          </button> {{item.FirstName}} {{item.LastName}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</tb-card>